body {
  margin: 0;
  padding: 0;
  font-family:'Crimson Pro', serif;
}

/* Hero section */

.hero {
  height: 90vh;
  background-color: #f08e80;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 24px 32px;
}

.navbar .links a {
  color: white;
  text-decoration: none;
  margin-right: 16px;
  font-size: 1.2rem; 
}

.navbar p {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.navbar .contact {
  background-color: white;
  color: #f08e80;
  padding: 16px 24px;
  text-decoration: none;
  font-size: 1.2rem;
}

.navbar .contact:hover {
  opacity: 0.8;
}

.hero-content {
  margin: 0 15%;
  color: white;
}

.hero-content .tagline {
  font-size: 4rem;
  letter-spacing: 2px;
  margin: 32px 0;
}

.hero-content .skills {
  /* 使用 flexbox 達到兩欄式效果 */
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}

.hero-content .skills p {
  width: 50%;
}

.hero-content .skills ul {
  width: 50%;
  list-style: none;
  box-sizing: border-box;
  padding: 0;
}

.hero-content .skills li {
  /* 利用 float 來讓 li 達到兩欄式的效果 */
  float: left;
  width: 50%;
}


