body {
  margin: 0;
  padding: 0;
  font-family: "Crimson Pro", serif;
}

/* 兩欄式效果 */

.two-columns {
  /* 使用 flexbox 達到兩欄式效果 */
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}

.two-columns > p {
  width: 50%;
}

/* Hero section */

.hero {
  /* 如果單純使用 height: 90vh 的話，畫面變小文字會 overflow */
  min-height: 90vh;
  background-color: #f08e80;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 24px 32px;
}

.navbar .links a {
  color: white;
  text-decoration: none;
  margin-right: 16px;
  font-size: 1.2rem;
}

.navbar p {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.navbar .contact {
  background-color: white;
  color: #f08e80;
  padding: 16px 24px;
  text-decoration: none;
  font-size: 1.2rem;
}

.navbar .contact:hover {
  opacity: 0.8;
}

.hero-content {
  margin: 0 15%;
  color: white;
}

.hero-content .tagline {
  font-size: 4rem;
  letter-spacing: 2px;
  margin: 32px 0;
}

.hero-content .two-columns ul {
  width: 50%;
  list-style: none;
  box-sizing: border-box;
  padding: 0;
}

.hero-content .two-columns li {
  /* 利用 float 來讓 li 達到兩欄式的效果 */
  float: left;
  width: 50%;
  font-size: 1.2rem;
  margin-top: 8px;
}

/* Blog section */

.blog {
  padding: 24px 0;
}

.blog-content {
  margin: 0 15%;
}

.blog-posts {
  width: 50%;
  float: left;
  margin-top: 24px;
}

.blog-posts p {
  margin: 8px 0;
}

.blog-posts .blog-title {
  font-size: 1.5rem;
}

.blog-posts .blog-description {
  font-size: 1rem;
}

.blog-posts .blog-date {
  font-size: 0.9rem;
  color: gray;
  margin-bottom: 32px;
}

/* Event section */

.events {
  background-color: #fdf0e6;
  padding: 24px 0;
}

.events-content {
  margin: 0 15%;
}

.events-card p {
  margin: 8px 0;
}

.events-card {
  width: 50%;
  float: left;
  margin-top: 24px;
}

.events-title {
  font-size: 1.5rem;
}

.events-location {
  font-size: 1rem;
}

.events-card .events-date {
  font-size: 0.8rem;
  color: gray;
  margin-bottom: 32px;
}

/* Footer */

footer {
  background-color: black;
  color:white;
  padding: 60px;
}

.footer-content {
  text-align: center;
}

footer img {
  width: 2rem;
  height: 2rem;
  margin: 0 8px;
}